#promo-page-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: gray;
  opacity: 0.4;
}

.defaultPromoWrapper {
  display: block;
  width: 400px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1500;
}